<img src={{content.image}} alt={{content.description}} style="width:95%">
<h4>{{#link-to 'content' content.id}}{{content.title}}{{/link-to}}</h4>
<hr style="margin-top:5px;margin-bottom:5px">
<p>{{content.description}}</p>
