<div class="jumbotron" style="background:#fff;padding-top:0px;padding-bottom:10px">
  <img src="http://i.imgur.com/UZKEjzG.png" style="width:63%;margin-left:55px"><img src="https://s-media-cache-ak0.pinimg.com/236x/be/5f/07/be5f07d1eeae081bd0290ea2326f558c.jpg" style="width:25%;margin-top:-1px;margin-left:25px">
</div>
<ul>
  {{#each model as |content|}}
     <div style="display:inline-block;margin-left:15px;width:320px">
       {{content-tile content=content}}
    </div>
  {{/each}}
</ul>
